<a href="https://colab.research.google.com/github/Yomunozs/Senales_Sistemas/blob/main/Python%20Basics/6_PythonDataTypesStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Lists**

In Python, a list is a data structure used to store an ordered collection of elements. It is called "list" in English.

Lists are very versatile as they can contain elements of different data types such as numbers, strings, booleans, objects, and other lists. They can also be modified, which means that elements can be added, removed, or modified.

To create a list in Python, square brackets [] are used.

In [10]:
lista1 = ['Gerry',1,4.4,[0,2,3]]
lista1

['Gerry', 1, 4.4, [0, 2, 3]]

I can show this element by element:

In [11]:
lista2 = lista1[1]
lista2

1

In [12]:
lista2 = lista1[-1]
lista2

[0, 2, 3]

In [13]:
lista2 = lista1[-1][2]
lista2

3

I can delete a element of my list:

In [14]:
del lista1[1]
lista1

['Gerry', 4.4, [0, 2, 3]]

In [15]:
#I can add a element in the list with command .append, for example:

lista1.append(4.5)
lista1

['Gerry', 4.4, [0, 2, 3], 4.5]

##**Tuples**

In Python, a tuple is another built-in data type used to store a collection of elements.

A tuple is similar to a list in that it can store objects of different data types, but unlike lists, tuples are immutable, meaning they cannot be modified once they are created.

Tuples are usually created by enclosing a comma-separated sequence of objects in parentheses ().


For example, (1, 2, 'three') is a tuple containing an integer, another integer, and a string. Tuples are often used for fixed data that does not need to be changed, such as a collection of constants or a set of coordinates in a coordinate plane.

In [16]:
Tuple = (1,2,3,4,5)
Tuple

(1, 2, 3, 4, 5)

In [17]:
Tuple[0]

1

In [18]:
#Tuple[0]=4 #you cannot modified it!

##**Sets**

In Python, a set is a built-in data type used to store an unordered collection of unique elements. It is similar to a list or a tuple, but unlike those data types, a set cannot contain duplicate values.

Sets are created using curly braces {} or by using the set() function. For example, the following code creates a set of integers:

In [19]:
my_set = {1, 2, 3, 4,5,5,3} #you cannot store the 5 twice in a set!
my_set

{1, 2, 3, 4, 5}

Sets can also be used to perform mathematical set operations such as union, intersection, and difference.

For example, given two sets set1 = {1, 2, 3} and set2 = {2, 3, 4}, the union of the two sets can be obtained using the | operator:

In [20]:
set1={1,2,3,4,8}
set2={2,3,4}

union_set = set1 | set2
union_set

{1, 2, 3, 4, 8}

Similarly, the intersection of the two sets can be obtained using the & operator:

In [21]:
intersection_set = set1 & set2
intersection_set

{2, 3, 4}

And the difference of the two sets can be obtained using the - operator:

In [22]:
difference_set = set1 - set2
difference_set

{1, 8}

##**Dictionaries**

In Python, a dictionary is a built-in data structure used to store a collection of key-value pairs. It is sometimes referred to as an associative array, hash table or a map.

A dictionary is created using curly braces {} and each key-value pair is separated by a colon (:). For example, the following code creates a dictionary of items and their prices

In [23]:
prices = {'apple':0.5,'banana': 0.25, 'orange': 0.75}
prices

prices['orange']=1

prices

{'apple': 0.5, 'banana': 0.25, 'orange': 1}

In this example, 'apple', 'banana', and 'orange' are keys, and 0.5, 0.25, and 0.75 are their corresponding values. The keys in a dictionary must be unique and immutable, while the values can be of any data type and can be duplicated.

Values in a dictionary can be accessed by their corresponding keys, as shown in the following example:

In [24]:
apple_price = prices['banana']
apple_price

0.25

Dictionaries are useful when you need to store and retrieve values by a specific key rather than by their position in a sequence. They are commonly used to represent mappings between items, such as a person's name and their contact information, or a word and its definition.

In [25]:
prices['banana']

0.25

##**Example**

Write a function that takes a list of numbers as input and returns a list that contains only the unique numbers from the original list. For example, if the input is [1, 2, 3, 2, 4, 3, 5], the function should return [1, 2, 3, 4, 5].

In [26]:
def unique_numbers(nums):
    return list(set(nums))#

# Example usage
nums = [1, 2, 3, 2, 4, 3, 5]
print(unique_numbers(nums))
s=nums[2]
s

[1, 2, 3, 4, 5]

3

##**Example**

Write a function that takes a dictionary as input and returns a list of the unique values in the dictionary. For example, if the dictionary is {'a': 1, 'b': 2, 'c': 1, 'd': 3}, the function should return [1, 2, 3].

In [27]:
def ex2 (d):
  lista = []
  for i in d:
    if d[i] not in lista:
      lista.append(d[i])
  return lista

dicc ={'a': 1, 'b': 2, 'c': 1, 'd': 3}
lis = ex2(dicc)
lis

[1, 2, 3]

##**Exercise_1**

Write a function that takes a list of numbers as input and returns the sum of all the odd numbers in the list. For example, if the input is [1, 2, 3, 4, 5, 6], the function should return 9 (which is the sum of 1, 3, and 5).

##**Exercise_2**
Write a function that takes a list of words as input and returns a dictionary that counts the number of times each word appears in the list. For example, if the input is ['apple', 'banana', 'apple', 'cherry', 'cherry', 'cherry'], the function should return {'apple': 2, 'banana': 1, 'cherry': 3}.

Developed by:

- Brian Patino Agudelo - bpatinoa@unal.edu.co

- Andrés Marino Álvarez Meza - amalvarezme@unal.edu.co

- César Germán Castellanos Domínguez - cgcastellanosd@unal.edu.co

Ejercicio 1

In [28]:
# funcion para sumar numeros impares de una lista
def sum_odd(L): # Se define un argumento de entrada para la lista
  c=0# se establece el contador en cero
  for i in range(len(L)):# se recorre la lista
    if L[i]%2 != 0: # se evalua si cada valor es impar o no
      c=c+L[i] # se suma el valor impar
  return  c

In [29]:
# Prueba de la funcion
Lista=[1,2,3,4,5,6]
P=sum_odd(Lista)
P

9

Ejercicio 2

In [172]:
# funcion
def num_rep(L):
  dicc={}
  for i in range(len(L)):
    for j in range(len(L)):
      if L[i] not in dicc:
         c=1
         if L[i] == L[j]:
           c=c+1
         dicc[L[i]] = c
    dicc[l[i]]

  return dicc

In [170]:
import numpy as np
def num_rep2(L):
  dicc={}
  r=np.arange(-1,len(L),1)
  for i in range(len(L)):

    if L[i] not in dicc:


      c=1
      if L[i] == L[r]:
        c=c+1
        dicc[L[i]] = c
  dicc[L[i]]

  return dicc

In [173]:
# Prueba de la funcion
a='apple'

l=['apple', 'banana', 'apple', 'cherry', 'cherry', 'cherry']
p=num_rep(l)
if a not in p:
  print('si')
p

{'apple': 2, 'banana': 1, 'cherry': 1}